<a href="https://colab.research.google.com/github/kt287felix/PLPBasicGitAssignment/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Data Preprocessing

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv("/content/drive/MyDrive/orange.csv")
df.head()

,Customer ID,Age,Salary,Gender,Region,Number of Cities Lived,Job Type,Payer,Close Relative,Travel,Relatives Abroad,Avg Bill
0,150024,21,10000,Male,North,3,Other,Company,3,High,No,286.25
1,144880,21,10000,Female,Central,3,Other,Parents,2,High,Yes,239.25
2,133742,16,10000,Male,Central,1,Government,Self,3,High,No,310.25
3,151282,18,10000,Male,South,3,Private,Company,3,High,Yes,347.25
4,174407,15,10000,Female,North,1,Government,Company,2,High,Yes,290.25

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             10000 non-null  int64
 1   Age                     10000 non-null  int64
 2   Salary                  10000 non-null  int64
 3   Gender                  10000 non-null  object
 4   Region                  10000 non-null  object
 5   Number of Cities Lived  10000 non-null  int64
 6   Job Type                10000 non-null  object
 7   Payer                   10000 non-null  object
 8   Close Relative          10000 non-null  int64
 9   Travel                  10000 non-null  object
 10  Relatives Abroad        10000 non-null  object
 11  Avg Bill                10000 non-null  float64
dtypes: float64(1), int64(5), object(6)
memory usage: 937.6+ KB

In [8]:
# check if duplicate records exist
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

In [9]:
# Checking null values
df.isnull().sum()

Customer ID               0
Age                       0
Salary                    0
Gender                    0
Region                    0
Number of Cities Lived    0
Job Type                  0
Payer                     0
Close Relative            0
Travel                    0
Relatives Abroad          0
Avg Bill                  0
dtype: int64

### Encoding Categorical Variables

In [10]:
# Categorical columns
cat_col = [col for col in df.columns if df[col].dtype == 'object']
print('Categorical columns :',cat_col)
# Numerical columns
num_col = [col for col in df.columns if df[col].dtype != 'object']
print('Numerical columns :',num_col)

Categorical columns : ['Gender', 'Region', 'Number of Cities Lived', 'Job Type', 'Payer', 'Close Relative', 'Travel', 'Relatives Abroad']
Numerical columns : ['Customer ID', 'Age', 'Salary', 'Avg Bill']

In [11]:
df[cat_col].nunique()

Gender                    2
Region                    3
Number of Cities Lived    4
Job Type                  4
Payer                     3
Close Relative            4
Travel                    3
Relatives Abroad          2
dtype: int64

In [12]:
# Booleans dummies
df['Number of Cities Lived'] = df['Number of Cities Lived'].astype(str)
df['Close Relative'] = df['Close Relative'].astype(str)

In [13]:
pd.get_dummies(df['Close Relative']).astype(int).head()

   1  2  3  4
0  0  0  1  0
1  0  1  0  0
2  0  0  1  0
3  0  0  1  0
4  0  1  0  0

#### Dropping 'Customer ID'

In [14]:
df = df.drop(['Customer ID'], axis=1)

In [15]:
df = pd.get_dummies(df).astype(int)
df.head()

,Age,Salary,Avg Bill,Gender_Female,Gender_Male,Region_Central,Region_North,Region_South,Number of Cities Lived_1,Number of Cities Lived_2,...,Payer_Self,Close Relative_1,Close Relative_2,Close Relative_3,Close Relative_4,Travel_High,Travel_Low,Travel_Medium,Relatives Abroad_No,Relatives Abroad_Yes
0,21,10000,286,0,1,0,1,0,0,0,...,0,0,0,1,0,1,0,0,1,0
1,21,10000,239,1,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1
2,16,10000,310,0,1,1,0,0,1,0,...,1,0,0,1,0,1,0,0,1,0
3,18,10000,347,0,1,0,0,1,0,0,...,0,0,0,1,0,1,0,0,0,1
4,15,10000,290,1,0,0,1,0,1,0,...,0,0,1,0,0,1,0,0,0,1

### Exploratory Data Analysis

In [17]:
df.describe()

,Age,Salary,Avg Bill,Gender_Female,Gender_Male,Region_Central,Region_North,Region_South,Number of Cities Lived_1,Number of Cities Lived_2,...,Payer_Self,Close Relative_1,Close Relative_2,Close Relative_3,Close Relative_4,Travel_High,Travel_Low,Travel_Medium,Relatives Abroad_No,Relatives Abroad_Yes
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.0000,10000.000000,10000.000000,...,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.00000
mean,42.989500,68543.000000,570.194700,0.507600,0.492400,0.321600,0.348500,0.3299,0.253100,0.244500,...,0.363100,0.153600,0.310600,0.31470,0.221100,0.536600,0.161000,0.302400,0.51070,0.48930
std,12.832422,24040.901553,100.670314,0.499967,0.499967,0.467114,0.476519,0.4702,0.434809,0.429812,...,0.480917,0.360583,0.462762,0.46442,0.415008,0.498684,0.367549,0.459321,0.49991,0.49991
min,15.000000,10000.000000,184.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000
25%,32.000000,40000.000000,503.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000
50%,43.000000,60000.000000,570.000000,1.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.00000,0.000000,1.000000,0.000000,0.000000,1.00000,0.00000
75%,54.000000,100000.000000,643.000000,1.000000,1.000000,1.000000,1.000000,1.0000,1.000000,0.000000,...,1.000000,0.000000,1.000000,1.00000,0.000000,1.000000,0.000000,1.000000,1.00000,1.00000
max,65.000000,100000.000000,863.000000,1.000000,1.000000,1.000000,1.000000,1.0000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.00000,1.00000

### Feature Selection

In [20]:
x = df.drop('Avg Bill', axis=1)
y = df['Avg Bill']

In [24]:
# Checking correlation
corr = x.join(y).corr()
corr

,Age,Salary,Gender_Female,Gender_Male,Region_Central,Region_North,Region_South,Number of Cities Lived_1,Number of Cities Lived_2,Number of Cities Lived_3,...,Close Relative_1,Close Relative_2,Close Relative_3,Close Relative_4,Travel_High,Travel_Low,Travel_Medium,Relatives Abroad_No,Relatives Abroad_Yes,Avg Bill
Age,1.000000,0.164970,0.008905,-0.008905,0.006553,-0.005077,-0.001365,-0.058781,0.084002,-0.104091,...,-0.005466,-0.007888,0.000789,0.012661,-0.038675,0.004154,0.038665,0.011718,-0.011718,-0.023217
Salary,0.164970,1.000000,-0.014763,0.014763,-0.019898,0.026431,-0.007019,-0.273650,0.286414,-0.286798,...,-0.027597,-0.015503,0.001659,0.039408,-0.025958,0.014779,0.016356,-0.003904,0.003904,0.532092
Gender_Female,0.008905,-0.014763,1.000000,-1.000000,-0.007897,0.012179,-0.004498,-0.018740,0.016716,-0.001259,...,0.016269,-0.017120,0.001974,0.002746,-0.010743,0.004225,0.008282,-0.004527,0.004527,0.002801
Gender_Male,-0.008905,0.014763,-1.000000,1.000000,0.007897,-0.012179,0.004498,0.018740,-0.016716,0.001259,...,-0.016269,0.017120,-0.001974,-0.002746,0.010743,-0.004225,-0.008282,0.004527,-0.004527,-0.002801
Region_Central,0.006553,-0.019898,-0.007897,0.007897,1.000000,-0.503569,-0.483099,0.011340,-0.010118,0.000898,...,-0.025519,0.004215,0.011952,0.004097,0.008713,-0.019092,0.005818,0.000252,-0.000252,-0.005298
Region_North,-0.005077,0.026431,0.012179,-0.012179,-0.503569,1.000000,-0.513175,-0.006301,0.007772,0.007607,...,0.013797,-0.011538,-0.004397,0.005799,0.001662,0.015369,-0.014103,0.003447,-0.003447,0.012516
Region_South,-0.001365,-0.007019,-0.004498,0.004498,-0.483099,-0.513175,1.000000,-0.004880,0.002175,-0.008602,...,0.011369,0.007506,-0.007417,-0.009947,-0.010340,0.003392,0.008512,-0.003744,0.003744,-0.007421
Number of Cities Lived_1,-0.058781,-0.273650,-0.018740,0.018740,0.011340,-0.006301,-0.004880,1.000000,-0.331159,-0.345053,...,0.025029,0.018823,-0.012632,-0.028600,0.021616,-0.018455,-0.008700,0.008474,-0.008474,-0.415968
Number of Cities Lived_2,0.084002,0.286414,0.016716,-0.016716,-0.010118,0.007772,0.002175,-0.331159,1.000000,-0.337204,...,-0.020360,-0.012780,-0.000722,0.032749,-0.024723,0.012253,0.017037,-0.008686,0.008686,0.205839
Number of Cities Lived_3,-0.104091,-0.286798,-0.001259,0.001259,0.000898,0.007607,-0.008602,-0.345053,-0.337204,1.000000,...,0.014947,0.007607,0.006274,-0.028490,0.039245,-0.010917,-0.033872,-0.007671,0.007671,-0.169070
Number of Cities Lived_4,0.081934,0.283947,0.003537,-0.003537,-0.002277,-0.009189,0.011575,-0.329277,-0.321787,-0.335287,...,-0.020274,-0.014067,0.007119,0.025334,-0.037305,0.017610,0.026410,0.007965,-0.007965,0.388650
Job Type_Business,0.007843,0.042849,-0.013971,0.013971,-0.007752,0.009394,-0.001819,-0.095640,0.145773,0.028173,...,-0.019270,-0.005457,0.007646,0.014271,-0.020267,0.014758,0.010195,0.006314,-0.006314,0.453520
Job Type_Government,0.023152,0.053402,0.021649,-0.021649,-0.014989,0.009461,0.005302,-0.098592,0.054139,0.019709,...,-0.012581,-0.006162,-0.009648,0.028599,-0.034669,0.017415,0.023705,-0.000972,0.000972,-0.085426
Job Type_Other,-0.013974,-0.044130,0.001377,-0.001377,0.004950,-0.008603,0.003802,-0.001686,-0.105036,0.065309,...,-0.002530,0.004113,0.008774,-0.012207,0.020950,-0.016801,-0.009301,-0.014634,0.014634,-0.447483
Job Type_Private,-0.016479,-0.050410,-0.008941,0.008941,0.017387,-0.009915,-0.007224,0.192393,-0.091244,-0.112274,...,0.033796,0.007298,-0.006790,-0.029903,0.033014,-0.014800,-0.024000,0.009385,-0.009385,0.086194
Payer_Company,0.019177,0.003627,-0.009201,0.009201,-0.010821,0.021574,-0.011114,0.001422,-0.000035,-0.000302,...,0.015802,0.018083,-0.002137,-0.031502,0.069755,-0.032635,-0.049618,0.000108,-0.000108,-0.006575
Payer_Parents,-0.005508,-0.005479,-0.000307,0.000307,0.017527,-0.024840,0.007762,-0.007281,0.006245,-0.010480,...,-0.060799,-0.017932,-0.004159,0.077475,-0.111110,0.057020,0.075004,-0.013549,0.013549,-0.005100
Payer_Self,-0.014210,0.001387,0.009527,-0.009527,-0.005222,0.001133,0.004039,0.005258,-0.005699,0.009927,...,0.039954,-0.001703,0.005966,-0.039493,0.031945,-0.019571,-0.019022,0.012333,-0.012333,0.011289
Close Relative_1,-0.005466,-0.027597,0.016269,-0.016269,-0.025519,0.013797,0.011369,0.025029,-0.020360,0.014947,...,1.000000,-0.285939,-0.288679,-0.226966,0.116120,-0.017579,-0.112004,0.008636,-0.008636,-0.025576
Close Relative_2,-0.007888,-0.015503,-0.017120,0.017120,0.004215,-0.011538,0.007506,0.018823,-0.012780,0.007607,...,-0.285939,1.000000,-0.454855,-0.357617,0.019641,-0.024146,-0.002002,-0.006154,0.006154,-0.011764
Close Relative_3,0.000789,0.001659,0.001974,-0.001974,0.011952,-0.004397,-0.007417,-0.012632,-0.000722,0.006274,...,-0.288679,-0.454855,1.000000,-0.361045,0.026048,-0.019139,-0.012965,0.002941,-0.002941,0.005746
Close Relative_4,0.012661,0.039408,0.002746,-0.002746,0.004097,0.005799,-0.009947,-0.028600,0.032749,-0.028490,...,-0.226966,-0.357617,-0.361045,1.000000,-0.151941,0.063617,0.114056,-0.003932,0.003932,0.028909
Travel_High,-0.038675,-0.025958,-0.010743,0.010743,0.008713,0.001662,-0.010340,0.021616,-0.024723,0.039245,...,0.116120,0.019641,0.026048,-0.151941,1.000000,-0.471389,-0.708492,0.002240,-0.002240,-0.046028
Travel_Low,0.004154,0.014779,0.004225,-0.004225,-0.019092,0.015369,0.003392,-0.018455,0.012253,-0.010917,...,-0.017579,-0.024146,-0.019139,0.063617,-0.471389,1.000000,-0.288416,0.005319,-0.005319,0.036150
Travel_Medium,0.038665,0.016356,0.008282,-0.008282,0.005818,-0.014103,0.008512,-0.008700,0.017037,-0.033872,...,-0.112004,-0.002002,-0.012965,0.114056,-0.708492,-0.288416,1.000000,-0.006689,0.006689,0.021045
Relatives Abroad_No,0.011718,-0.003904,-0.004527,0.004527,0.000252,0.003447,-0.003744,0.008474,-0.008686,-0.007671,...,0.008636,-0.006154,0.002941,-0.003932,0.002240,0.005319,-0.006689,1.000000,-1.000000,0.007775
Relatives Abroad_Yes,-0.011718,0.003904,0.004527,-0.004527,-0.000252,-0.003447,0.003744,-0.008474,0.008686,0.007671,...,-0.008636,0.006154,-0.002941,0.003932,-0.002240,-0.005319,0.006689,-1.000000,1.000000,-0.007775
Avg Bill,-0.023217,0.532092,0.002801,-0.002801,-0.005298,0.012516,-0.007421,-0.415968,0.205839,-0.169070,...,-0.025576,-0.011764,0.005746,0.028909,-0.046028,0.036150,0.021045,0.007775,-0.007775,1.000000

### Splitting the Data

In [25]:
from sklearn.model_selection import train_test_split


x_train, x_test , y_train , y_test = train_test_split(x,y,test_size = 0.3,random_state=42)
train_data = x_train.join(y_train)

### Train,Building and Evaluate Models

#### 1.Linear Regression

In [26]:
# model for linear regression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.linear_model import LinearRegression

model_regress = LinearRegression()
model_regress.fit(x_train,y_train)

# make prediction for the model
y_pred_model_regress = model_regress.predict(x_test)

#Evaluate the model using measures of accuracy in regression
mae_model_regress = mean_absolute_error(y_test,y_pred_model_regress)
mse_model_regress = mean_squared_error(y_test, y_pred_model_regress)
r2_model_regress = r2_score(y_test, y_pred_model_regress)

print(f'Linear Regression - MAE: {mae_model_regress}, MSE: {mse_model_regress}, R2: {r2_model_regress}')

Linear Regression - MAE: 42.73635823221385, MSE: 2846.9668525511734, R2: 0.7356907032187925

### 2.Decision Tree Regressor

In [27]:
# Train the model
from sklearn.tree import DecisionTreeRegressor

dt = DecisionTreeRegressor(random_state=42)
dt.fit(x_train, y_train)

# Make predictions
y_pred_dt = dt.predict(x_test)

# Evaluate the model
mae_dt = mean_absolute_error(y_test, y_pred_dt)
mse_dt = mean_squared_error(y_test, y_pred_dt)
r2_dt = r2_score(y_test, y_pred_dt)

print(f'Decision Tree Regressor - MAE: {mae_dt}, MSE: {mse_dt}, R2: {r2_dt}')

Decision Tree Regressor - MAE: 52.187333333333335, MSE: 4136.4115, R2: 0.6159800688290422

### 3.RandomEorest Regressor

In [28]:
# Train the model
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(random_state=42)
rf.fit(x_train, y_train)

# Make predictions
y_pred_rf = rf.predict(x_test)

# Evaluate the model
mae_rf = mean_absolute_error(y_test, y_pred_rf)
mse_rf = mean_squared_error(y_test, y_pred_rf)
r2_rf = r2_score(y_test, y_pred_rf)

print(f'Random Forest Regressor - MAE: {mae_rf}, MSE: {mse_rf}, R2: {r2_rf}')

Random Forest Regressor - MAE: 39.3912133531746, MSE: 2301.317133293887, R2: 0.7863482278951056

### 4.Gradient Boosting Regressor

In [29]:
# Train the model
from sklearn.ensemble import GradientBoostingRegressor

gbr = GradientBoostingRegressor(random_state=42)
gbr.fit(x_train, y_train)

# Make predictions
y_pred_gbr = gbr.predict(x_test)

# Evaluate the model
mae_gbr = mean_absolute_error(y_test, y_pred_gbr)
mse_gbr = mean_squared_error(y_test, y_pred_gbr)
r2_gbr = r2_score(y_test, y_pred_gbr)

print(f'Gradient Boosting Regressor - MAE: {mae_gbr}, MSE: {mse_gbr}, R2: {r2_gbr}')

Gradient Boosting Regressor - MAE: 36.851247392147506, MSE: 2016.8394199914042, R2: 0.8127588284560244

### Support Vector Regressor(SVR)

In [30]:
# Train the model
from sklearn.svm import SVR

svr = SVR()
svr.fit(x_train, y_train)

# Make predictions
y_pred_svr = svr.predict(x_test)

# Evaluate the model
mae_svr = mean_absolute_error(y_test, y_pred_svr)
mse_svr = mean_squared_error(y_test, y_pred_svr)
r2_svr = r2_score(y_test, y_pred_svr)

print(f'Support Vector Regressor - MAE: {mae_svr}, MSE: {mse_svr}, R2: {r2_svr}')

Support Vector Regressor - MAE: 72.26685643801923, MSE: 7891.459966888386, R2: 0.2673654656160669

### Model Perfprmance

In [31]:
# Create a DataFrame to compare the results
results = pd.DataFrame({
    'Model': ['Linear Regression', 'Decision Tree', 'Random Forest', 'Gradient Boosting', 'SVR'],
    'MAE': [mae_model_regress, mae_dt, mae_rf, mae_gbr, mae_svr],
    'MSE': [mse_model_regress, mse_dt, mse_rf, mse_gbr, mse_svr],
    'R2': [r2_model_regress, r2_dt, r2_rf, r2_gbr, r2_svr]
})

print(results)

               Model        MAE          MSE        R2
0  Linear Regression  42.736358  2846.966853  0.735691
1      Decision Tree  52.187333  4136.411500  0.615980
2      Random Forest  39.391213  2301.317133  0.786348
3  Gradient Boosting  36.851247  2016.839420  0.812759
4                SVR  72.266856  7891.459967  0.267365